.container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    background: var(--color-background);
    z-index: -1;
}

[data-theme='dark'] .container {
    background: radial-gradient(circle at 50% 50%, #0f172a, #020617);
}

.sparkle {
    position: absolute;
    background: white;
    border-radius: 50%;
    filter: blur(1px);
    box-shadow: 0 0 10px white;
}

[data-theme='light'] .sparkle {
    background: var(--color-primary);
    box-shadow: 0 0 10px var(--color-primary);
    opacity: 0.2 !important;
}

.grid {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(var(--color-border) 1px, transparent 1px),
        linear-gradient(90deg, var(--color-border) 1px, transparent 1px);
    background-size: 50px 50px;
    mask-image: radial-gradient(circle at 50% 50%, black, transparent 80%);
    opacity: 0.3;
}